{% extends 'index.html' %}
{% block content %}
<!-- HOME CODE -->
<div class="flex flex-col items-center my-12 md:my-32">
  <h1 class="text-3xl md:text-5xl font-bold mb-4 md:mb-10">Meet Our Team Members</h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-80">
    <!-- Member 1 -->
    <div class="flex flex-col items-center my-5">
      <img src="static/members/arcana.jpg" alt="Sean Joseph Arcana" class="w-[150px] h-[150px] border rounded-full mb-4">
      <h2 class="text-lg font-semibold">Sean Joseph Arcana</h2>
      <p class="text-gray-500">UI / UX Designer</p>
    </div>

    <!-- Member 2 -->
    <div class="flex flex-col items-center py-5">
	  <img src="static/members/durano.jpg" alt="Jhanna Kris Durano" class="w-[150px] h-[150px] border rounded-full mb-4">
      <h2 class="text-lg font-semibold">Jhanna Kris Durano</h2>
      <p class="text-gray-500">Project Manager</p>
    </div>

    <!-- Member 3 -->
    <div class="flex flex-col items-center my-5">
      <img src="static/members/ocliasa.jpg" alt="Niño Rollane Ocliasa" class="w-[150px] h-[150px] border rounded-full mb-4">
      <h2 class="text-lg font-semibold">Niño Rollane Ocliasa</h2>
      <p class="text-gray-500">Database Designer</p>
    </div>
  </div>
</div>

    <!-- Member 4 -->
    <div class="flex flex-col items-center my-5">
      <img src="static/members/real.jpg" alt="Rovic Steve Real" class="w-[150px] h-[150px] border rounded-full mb-4">
      <h2 class="text-lg font-semibold">Rovic Steve Real</h2>
      <p class="text-gray-500">Programmer</p>
    </div>
  </div>
</div>
{% endblock %}